<link rel="stylesheet" type="text/css" href="../assets/css/custom-home.css">
<main class="grey lighten-2"> 
    <!-- NAV BAR -->
    <div class="navbar-fixed">
        <nav class="cyan" style="padding-left:25px; padding-right:25px;">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo left">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="large material-icons">menu</i></a>
                  <span class="white-text" id="appname" href="#"><img src="../assets/images/ggminuswhite.png" style="height:40px; postition:relative; vertical-align:middle;"></span>
                </a>
                <form style="display:inline-block;">
                  <div class="input-field" style="width:500px; margin-left:50%; margin-right:50%;">
                    <input id="search" type="search" placeholder="Search">
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><button class="waves-effect waves-light btn indigo" href="#">Sign Out</button></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col s12 m3 l3">
            <ul class="left hide-on-med-and-down" style="padding-left:25px;">
                <br>
                <li><a class="black-text" href="home.view.html"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">home</i>&emsp;&emsp;Home</a></li><br>
                <li><a class="black-text" href="collections.view.html"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">games</i>&emsp;&emsp;Collections</a></li><br>
                <li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">group_work</i>&emsp;&emsp;Communities</a></li><br>
                <li><a class="black-text" href="profile.view.html"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">account_circle</i>&emsp;&emsp;Profile</a></li><br>
                <li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">people</i>&emsp;&emsp;People</a></li><br>
                <li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">notifications</i>&emsp;&emsp;Notifications</a></li><br>
                <li class="divider"></li>
                <li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">settings</i>&emsp;&emsp;Settings</a></li><br>
                <li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">announcement</i>&emsp;&emsp;Send Feedback</a></li><br>
                <li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">help</i>&emsp;&emsp;Help</a></li><br>
                <!--<li><a class="black-text" href="#"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">indeterminate_check_box</i>&emsp;&emsp;Sign Out</a></li><br>-->
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li>
                <div class="userView light-blue darken-3">
                  <a href="#!user"><img class="circle" src="../assets/images/icon.jpg"></a>
                  <a href="#!name"><span class="white-text name">Dalekorr</span></a>
                  <a href="#!email"><span class="white-text email">cccassion1@up.edu.ph</span></a>
                </div>
              </li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Collections</a></li>
              <li><a href="#">Communities</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">People</a></li>
              <li><a href="#">Notifications</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Send Feedback</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
        <div class="col s12 m12 l9">
            <br>
            <div class="row">
                <div class="col s12 m12 l12" style="padding-right:40px;">
                  <div class="card" style="line-height:20px; border-radius:8px;">
                    <div class="card-content">
                      <form>
                        <!--<img src="assets/images/icon.jpg" style="height:35px; border-radius:30px; border:1px solid white; display:inline-block">-->
                        <div class="input-field">
                          <textarea id="whatsnew" class="materialize-textarea"></textarea>
                          <label for="whatsnew">&nbsp;&nbsp;&nbsp;<i class="tiny material-icons" style="vertical-align:middle;">message</i>&nbsp;&nbsp;&nbsp;What's new with you?</label>
                          <!--<div class="fixed-action-btn horizontal" style="position:relative;">
                            <a class="btn-floating red"><i class="large material-icons">mode_edit</i></a>
                            <a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                            <a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                            <a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                            <a class="btn-floating blue"><i class="material-icons">attach_file</i></a>
                          </div>-->
                          <button class="btn waves-effect waves-light light-blue darken-3" id="login" action="submit" style="margin-top: 5px;margin-left:84%"><i class="small material-icons right" style="vertical-align:middle;padding:0px;">send</i>POST</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l5">
                  <div class="card" style="line-height:20px;">
                    <div class="card-content">
                        <img src="../assets/images/icon.jpg" style="height:35px; border-radius:30px; border:1px solid white; vertical-align:middle">
                        <span class="card-title" style="font-size:14px; font-weight:bold; margin:0px;"><a class="" href="">&nbsp;&nbsp;Claudine Cassion</a></span><br>
                        <!--<span style="font-size:13px; margin:0px;"><a class="" href="#">Claudine Cassion</a></span>-->
                    </div>
                    <div class="card-image center">
                      <img src="../assets/images/1.jpg">
                      <span style="font-size:10px;">2&nbsp;</span>
                      <a href="#"><i class="tiny material-icons circle" style="color:#424242; background-color:#e0e0e0; padding:8px; margin: 10px 0px 10px 0px;">exposure_plus_1</i></a>
                      <a href="#"><i class="tiny material-icons circle" style="color:#424242; background-color:#e0e0e0; padding:8px; margin: 10px 0px 10px 0px;">comment</i></a>
                    </div>
                    <div class="card-action" style="padding-top:10px; padding-bottom:10px;">
                      <ul>
                        <li>
                          <img src="../assets/images/icon.jpg" style="height:35px; border-radius:30px; border:1px solid white; vertical-align:middle">
                          <span class="" style="font-size:14px; font-weight:bold; margin:0px;"><a class="black-text" href="">&nbsp;&nbsp;Claudine Cassion</a></span>
                          <br>
                          <span style="font-size:10px; margin-left:47px; padding-top:-0px;">This is a sample comment.</span>
                          <a href="#"><i class="tiny material-icons circle right" style="color:#424242; background-color:#e0e0e0; padding:8px; margin-bottom:10px;">exposure_plus_1</i></a>
                        </li>
                        <br>
                      </ul>
                      <hr>
                        <div class="row" style="padding-top:10px;">
                          <div class="input-field" style="padding-bottom:0px;">
                          <img src="../assets/images/icon.jpg" style="height:35px; border-radius:30px; border:1px solid white; vertical-align:middle; margin-right:47px;">
                            <textarea style="margin-left:47px; width:80%;" id="comment" class="materialize-textarea"></textarea>
                            <label for="comment">&nbsp;&nbsp;&nbsp;<i class="tiny material-icons" style="vertical-align:middle; margin-left:47px;">comment</i>&nbsp;&nbsp;&nbsp;Write a comment...</label>
                            <!--<button class="btn waves-effect waves-light light-blue darken-3" id="login" action="submit" style="margin-top: 5px;margin-left:65%"><i class="small material-icons right" style="vertical-align:middle;padding:0px;">send</i>POST</button>-->
                          </div>
                        </div>
                      <hr>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
$( document ).ready(function() {
$('.fixed-action-btn').openFAB();
  $('.fixed-action-btn').closeFAB();
  $('.fixed-action-btn.toolbar').openToolbar();
  $('.fixed-action-btn.toolbar').closeToolbar();
}</script>