<link rel="stylesheet" type="text/css" href="../assets/css/custom-profile.css">
<main class="grey lighten-2" ng-init="getUser()">
    <!-- NAV BAR -->
    <div class="navbar-fixed">
        <nav class="cyan" style="padding-left:25px; padding-right:25px;">
            <div class="nav-wrapper row">
                <a href="#!" class="brand-logo left">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu&nbsp;</i></a>
                     <span class="white-text" id="appname" href="#" style="font-size: 23px;">Google-</span>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form>
                        <div class="input-field" style="width:700px; margin-right:100px;">
                          <input id="search" type="search" placeholder="Search">
                          <label for="search"><i class="material-icons">search</i></label>
                          <i class="material-icons">close</i>
                        </div>
                        </form>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col s12 m3 l3">
            <ul class="left hide-on-med-and-down" style="padding-left:25px;">
                <br>
                <li><a class="black-text" href="/home"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">home</i>&emsp;&emsp;Home</a></li><br>
                <li><a class="black-text" href="/collections"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">games</i>&emsp;&emsp;Collections</a></li><br>
                <li><a class="black-text" href="/communities"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">group_work</i>&emsp;&emsp;Communities</a></li><br>
                <li><a class="black-text" href="/profile"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">account_circle</i>&emsp;&emsp;Profile</a></li><br>
                <li><a class="black-text" href="/people"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">people</i>&emsp;&emsp;People</a></li><br>
                <li><a class="black-text" href="/notifications"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">notifications</i>&emsp;&emsp;Notifications</a></li><br>
                <li class="divider"></li>
                <li><a class="black-text" href="/settings"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">settings</i>&emsp;&emsp;Settings</a></li><br>
                <li><a class="black-text" href="/feedback"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">announcement</i>&emsp;&emsp;Send Feedback</a></li><br>
                <li><a class="black-text" href="/help"><i class="material-icons grey-text text-darken-2" style="vertical-align:middle;">help</i>&emsp;&emsp;Help</a></li><br>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li>
                <div class="userView light-blue darken-3">
                  <a href="#!user"><img class="circle" src="../assets/images/icon.jpg"></a>
                  <a href="#!name"><span class="white-text name">{{user.username}}</span></a>
                  <a href="#!email"><span class="white-text email" >{{user.email}}</span></a>
                </div>
              </li>
              <li><a href="/home">Home</a></li>
              <li><a href="/collections">Collections</a></li>
              <li><a href="/communities">Communities</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/people">People</a></li>
              <li><a href="/notifications">Notifications</a></li>
              <li><a href="/settings">Settings</a></li>
              <li><a href="/feedback">Send Feedback</a></li>
              <li><a href="/help">Help</a></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
        </div>
        <div class="col s12 m12 l9" style="padding-right:70px;">
            <br>
            <div class="card">
              <div class="card-image">
                <img src="../assets/images/1.jpg" style="height:300px;">
                <span class="card-title"><img src="../assets/images/icon.jpg" style="height:100px; width:100px; border-radius:70px; border:3px solid white;"><h5>{{user.name}}</h5><h6>{{user.email}}</h6></span>
              </div>
              <div class="card-content">
                < INSERT POSTS >
              </div>
              <div class="card-action">
              </div>
            </div>
        </div>
    </div>
</main>
